<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>angular</title>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <!-- endbower -->
    <!-- endbuild -->
  
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="News">


   



    
        <ul ng-controller="ListCtrl">
             <li ng-repeat="l in lists"> {{ l.title }} <span ng-click="deleteMe(l.objectId, $index)">X</span></li> 

          
            </li>
        </ul>



     <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form ng-submit="addList(list)" ng-controller="ListCtrl"  action=''>
        <input type="text" ng-model="list.title" placeholder="Title" >
     
    <div class="modal-footer">
      <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat" ><button type="submit">Submit</button></a>
    </div>

      </form>
    </div>
  </div>
            


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/materialize/dist/js/materialize.min.js"></script>


    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/lists/listscontroller.js"></script>
    <script src="scripts/lists/listfactory.js"></script>
    <!-- endbuild -->
</body>

</html>
